version: "3.9"

services:
  app:
    build:
      context: .
    ports:
      - "8080:8080"
    env_file:
      - ./.env
    depends_on:
      db:
        condition: service_healthy
  
  db:
    image: postgres:17.6-alpine3.22
    env_file:
      - ./.env
    ports:
      - "5432:5432"
    volumes:
      - dev-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres} -d ${POSTGRES_DB:-postgres}"]
      interval: 3s
      timeout: 3s
      retries: 5

volumes:
  dev-db-data: